<!DOCTYPE html>
<%
	// CREATE ALIASES
	const activity = locals.metadata.page.activity
	const publicpage = locals.metadata.page.public || activity === 'preview'
	const modules = locals.metadata.site.modules
	const metafields = locals.metadata.site.metafields
	const space = locals.metadata.page.space
	const object = locals.metadata.page.object
	const query = locals.metadata.page.query
	const languages = locals.metadata.site.languages
	const language = locals.metadata.page.language
	const rights = locals.metadata.user.rights
	const pagedisplay = locals.metadata.page.display
	const pages = locals.metadata.page.count
	const source = locals.metadata.page.source
	const sourceurl = locals.metadata.site.apps_in_suite.find(d => d.key === locals.metadata.page.source)?.baseurl

	let mapscale = locals.metadata.page.mscale
	// THIS IS FOR PUBLIC PINBOARDS: TO ENSURE THAT THE DEFINED MAP SCALE IS PRESERVED
	if (space === 'pinned' && (!locals.pinboard?.editable || activity === 'preview') && locals.pinboard?.display_map) {
		if (locals.pinboard?.display_fullscreen) mapscale = 'full-screen'
		else mapscale = 'contain'
	}

	const display_content = Object.keys(query)?.filter(key => !['status', 'source', 'mapscale', 'display'].includes(key)).length > 0

%>
<html>
<head>

<%- include ('../../partials/head.ejs') %>

</head>

<body translate="no">

<% include ('../../partials/translations.ejs') %>

<%- include ('../../partials/menu-languages.ejs') %>
<%- include ('../../partials/modals.ejs') %>

<%- include ('../modules/download.ejs') %>


<% const welcome_module = locals.metadata.site.welcome_module %>

<% if (publicpage && object === 'pads' && space !== 'pinned' && mapscale !== 'full-screen' && locals.metadata.page.id === 1 && !display_content) { %>

<div class='public-page-header'>
	<button class='scroll-nav' onclick='scrollToPad(this)'><label class='rotate'>&rsaquo;</label></button>
	<script type='text/javascript'>
		function scrollToPad (node) {
			let next = d3.select('div.public-page-header h1.site-title').node()
			window.scrollTo({
				top: next.offsetTop - 60,
				left: 0,
				behavior: 'smooth'
			})
		}
		window.addEventListener('scroll', function (e) {
			d3.select('button.scroll-nav').classed('hide', document.documentElement.scrollTop > 60)
		})
	</script>

	<h1 class='site-title'><%- locals.metadata.site.title %></h1>
	<% if (true) { // FIXME find a good condition to show it up here %>
	<div class="toppage">
		<h4>Contribute to:</h4>
		<!-- TO DO: TRANSLATE -->
		<menu>
			<% locals.metadata.site.apps_in_suite.forEach(d => { %>
				<a href='<%- d.forwardURL %>' target='_blank'>
					<li><h3><%- d.name %></h3></li>
				</a>
			<% }) %>

			<a href='/en/browse/blog/preview' >
				<li><h3>Blog</h3></li>
			</a>
		</menu>
</div>
	<% } // page links %>
	<% if (locals.metadata.page.instance_title) { %><h2><%- locals.metadata.page.instance_title %></h2><% } %>
	<% if (locals.metadata.site.description?.[language]) { %><p class='lead'><%- locals.metadata.site.description[language] %></p><% } %>
</div>
<% } %>

<header <% if (!display_content) { %>class='center'<% } %>>
	<div class='inner'>
		<%- include ('../../partials/menu-logo.ejs') %>
	</div>
</header>

<div class='browse <%- pagedisplay %><% if (publicpage) { %> public<% } %><% if (!display_content) { %> flex<% } %>' translate="no">

	<main>
		<div class='inner'>

			<!-- SEARCH AND FILTER MENU -->
			<% if (
				!(space === 'pinned'
					&& (!locals.pinboard?.editable || activity === 'preview')
					&& !locals.pinboard?.display_filters)
				&& pagedisplay !== 'slideshow'
			) { %>
				<%- include('./filter') %>
			<% } %>

			<!-- MAP -->
			<% if (
				display_content
				&& (locals.metadata.page.map)
			) { %>
				<%- include ('../modules/map') %>
			<% } %>


				<section class="container pads">
					<div class="layout" >
						<% locals.data[1]['searchResults'].forEach(result => { %>
							<article class="pad status-3" style="padding: 12px;" >
							  <div class="inner">
								<div class="head">
								  <div class="meta meta-group">
									<div class="meta meta-data">
									  <div class="meta meta-contributor">
										<a class="contributor-name" >
										  <%= result.country || 'Unkown country' %>
										</a>
									  </div>
									  <div class="meta meta-date">
										<%= result.posted_date_str || new Date(result.created_at).toLocaleDateString('en-US', {
											month: 'long',
											day: 'numeric',
											year: 'numeric'
										  }) %>
									  </div>
									</div>
								  </div>
								</div>
								<div class="body" style="min-width: 100% !important;">
								  <div class="media media-title">
									<a class="pad-link" href="<%= result.url %>" target="_blank">
									  <h1>
										<img src="/imgs/icons/i-pad.svg">
										<span>
										  <%= result.title || 'Unknown title' %>
										</span>
									  </h1>
									</a>
								  </div>
								  <div class="media media-txt" style="margin-top: 20px; white-space: inherit !important;">
									<a class="pad-link" target="_blank" style="width: 100% !important; ">
										<%
										  function findMatchingText(largeText) {

											largeText.trim().replace(/^\n+|\n+$/g, '');

											var searchText = locals?.metadata?.page?.query?.['search'] || ""

											var escapedSearchText = searchText.replace(/[.*+?^${}()|[\]\\]/g, '\\$&');
											var pattern = new RegExp(`[^.!?]*${escapedSearchText}[^.!?]*[.!?]`, 'g');
											var matches = largeText.match(pattern);

											if (matches && matches.length > 0) {
											  var firstSentence = matches[0];
											  var secondSentence = matches[1];
											  var lastSentence = matches[matches.length - 1];
											  return firstSentence + " " + `${secondSentence || ''}`;
											} else {
											  return largeText?.split(' ')?.slice(0, 100)?.join(' ') || null;
											}
										  }

										  var extractedText = findMatchingText(result?.content || result?.all_html_content || '');
										%>

										<%= extractedText || 'We are unable to extract content from the original website. Please click to read content on the original website.' %> ... <a target="_blank" href="<%= result.url %>" style="cursor: pointer; color: cornflowerblue;">read more</a>
									  </a>
								  </div>
								  <div class="meta tag-group">
									<div class="meta meta-tags">
										<a class="tag-link" >
										  <div class="tag">
											<label><%= result?.article_type?.capitalize() %></label>
										  </div>
										</a>
									</div>
								  </div>
								</div>
							  </div>
							</article>
						  <% }); %>

					</div>
				</section>

			<!-- STATISTICS IN MOBILE VIEW -->

			<div class='xs'>
				<%- include ('./statistics.ejs') %>
			</div>

		</div>
		<div class='lds-ellipsis hide'><div></div><div></div><div></div><div></div></div>
	</main>
</div>

<% if (display_content && pagedisplay !== 'slideshow' && mapscale !== 'full-screen') { %>
	<div class='sidebar lg'>
		<div class='inner'>
			<%- include ('./statistics.ejs') %>
			<%- include ('../../partials/filters.ejs') %>
		</div>
	</div>
<% } %>


<footer>
	<nav class='pagination xs sm m'>
		<% if (activity === 'browse') { %><%- include('../modules/pagination') %><% } %>
	</nav>
	<h4>Contribute to:</h4>
	<!-- TO DO: TRANSLATE -->
	<menu>
		<% locals.metadata.site.apps_in_suite.forEach(d => { %>
			<a href='<%- d.forwardURL %>' target='_blank'>
				<li><h3><%- d.name %></h3></li>
			</a>
		<% }) %>

		<a href='/en/browse/blog/preview' >
			<li><h3>Blog</h3></li>
		</a>
	</menu>
	<% if (pagedisplay === 'slideshow') { %>
		<div class='inner'>
			<div class='dots'></div>
		</div>
	<% } %>
	<% if (display_content && pages > 1) { %>
		<div class='outer'>
				<p class='nav-info'>&larr; <%- vocabulary['navigate here'][language] %></p>
		</div>
	<% } %>

</footer>


<script type='text/javascript'>
	if (!mediaSize) var mediaSize = getMediaSize()
	const main = d3.select('div.browse main')
	const layout = main.select('div.inner')
	const overview = layout.select('section.overview')

	let page = <% if (!isNaN(locals.metadata.page.id)) { %><%- locals.metadata.page.id %><% } else if (![null, undefined].includes(locals.metadata.page.id)) { %>'<%- locals.metadata.page.id %>'<% } else { %>undefined<% } %>;
	var lazyloading = false

	// THIS IS THE LAZY LOADING MECHANISM
	if (<%- JSON.parse(locals.metadata.page.lazyload) %>) {
		window.onscroll = async function (ev) {
			if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight && !lazyloading) {
				console.log('hit the bottom')
				main.select('.lds-ellipsis').classed('hide', false)

				if (!isNaN(page)) page ++
				lazyloading = true

				const url = new URL(window.location)
				const queryparams = new URLSearchParams(url.search)
				queryparams.set('page', page)

				const response = await GET(`?${queryparams.toString()}`) // NO TARGET NEEDED SINCE SAME AS CURRENT PAGE

				d3.selectAll('section.container div.layout')
				.each(function (d) {
					const section = d3.select(this)
					response.sections.find(s => s.status === d.status).data.forEach(c => section.call(renderVignette, { data: c, display: '<%- pagedisplay %>' }))
				})

				if (response.count < <%- locals.stats?.filtered || 0 %>) lazyloading = false
				else main.select('.lds-ellipsis').classed('hide', true)
			}
		}
	} else { // PAGINATION MECHANISM
		d3.selectAll('.pagination a.page-link:not(.static)').each(function () {
			const sel = d3.select(this)
			const url = new URL(window.location)
			const queryparams = new URLSearchParams(url.search)
			queryparams.set('page', sel.attr('data-page'))
			sel.attr('href', `?${queryparams.toString()}`)
		})
	}

</script>

</body>
</html>
