<%
    // CREATE ALIASES
    const pinboards = locals.pinboards;
    const countries =  [];
    const language = locals.metadata.page.language
%>

<div class="p-5 flex-wrap border-transparent fw-bold text-dark">
    <h3 class="ps-3 h3 justify-content-start">Browse by categories</h3>
    <ul class="nav justify-content-end gap-5 mt-n8">
        <li class="nav-item my-1">
            <a id="collectionsButton" class="btn fw-bolder fs-8 fs-lg-base nav-link px-3 px-8 mx-1 text-uppercase active" aria-current="page" onclick="showCollections()">Collections</a>
        </li>
        <li class="nav-item my-1">
            <a id="countriesButton" class="btn btn-native-secondary fw-bolder fs-8 fs-lg-base nav-link px-3 px-8 mx-1 text-uppercase"  onclick="showCountries()">Countries</a>
        </li>
    </ul>
</div>
<div class="p-8">
    <div class="container">
        <div class="row" id="collectionsData">
            <% for (let i = 0; i < pinboards.length; i += 3) { %>
            <div class="col-md-4">
                <div class="d-flex border border-dashed border-gray-300 rounded min-w-750px px-lg-7 mb-5 gap-2">
                    <a target="_blank" href="<%= pinboards[i].url_prefix %>/<%= language %>/browse/pads/pinned?pinboard=<%= pinboards[i + 2]?.id %>" class="fs-3 text-dark text-hover-primary fw-semibold w-375px">
                        <%= pinboards[i].title %>
                    </a>
                    <div class="badge badge-light"><%= pinboards[i].count %> PADS</div>
                </div>
            </div>
            <% if (i + 1 < pinboards.length) { %>
            <div class="col-md-4">
                <div class="d-flex border border-dashed border-gray-300 rounded min-w-750px px-lg-7 mb-5 gap-2">
                    <a target="_blank" href="<%= pinboards[i + 1].url_prefix %>/<%= language %>/browse/pads/pinned?pinboard=<%= pinboards[i + 1]?.id %>" class="fs-3 text-dark text-hover-primary fw-semibold w-375px">
                        <%= pinboards[i + 1].title %>
                    </a>
                    <div class="badge badge-light"><%= pinboards[i + 1].count %> PADS</div>
                </div>
            </div>
            <% } %>
            <% if (i + 2 < pinboards.length) { %>
            <div class="col-md-4">
                <div class="d-flex border border-dashed border-gray-300 rounded min-w-750px px-lg-7 mb-5 gap-2">
                    <a target="_blank" href="<%= pinboards[i + 2].url_prefix %>/<%= language %>/browse/pads/pinned?pinboard=<%= pinboards[i + 2]?.id %>" class="fs-3 text-dark text-hover-primary fw-semibold w-375px">
                        <%= pinboards[i + 2].title %>
                    </a>
                    <div class="badge badge-light"><%= pinboards[i + 2].count %> PADS</div>
                </div>
            </div>
            <% } %>
            <% } %>
        </div>
        <div class="row" id="countriesData" style="display: none;">
            <% for (let i = 0; i < countries.length; i += 3) { %>
            <div class="col-md-4">
                <div class="d-flex border border-dashed border-gray-300 rounded min-w-750px px-lg-7 mb-5 gap-2">
                    <a target="_blank" href="<%= countries[i].url_prefix %>/<%= language %>/browse/pads/pinned?pinboard=<%= countries[i + 2]?.id %>" class="fs-3 text-dark text-hover-primary fw-semibold w-375px">
                        <%= countries[i].title %>
                    </a>
                    <div class="badge badge-light"><%= countries[i].count %> PADS</div>
                </div>
            </div>
            <% if (i + 1 < countries.length) { %>
            <div class="col-md-4">
                <div class="d-flex border border-dashed border-gray-300 rounded min-w-750px px-lg-7 mb-5 gap-2">
                    <a target="_blank" href="<%= countries[i + 1].url_prefix %>/<%= language %>/browse/pads/pinned?pinboard=<%= countries[i + 1]?.id %>" class="fs-3 text-dark text-hover-primary fw-semibold w-375px">
                        <%= countries[i + 1].title %>
                    </a>
                    <div class="badge badge-light"><%= countries[i + 1].count %> PADS</div>
                </div>
            </div>
            <% } %>
            <% if (i + 2 < countries.length) { %>
            <div class="col-md-4">
                <div class="d-flex border border-dashed border-gray-300 rounded min-w-750px px-lg-7 mb-5 gap-2">
                    <a target="_blank" href="<%= countries[i + 2].url_prefix %>/<%= language %>/browse/pads/pinned?pinboard=<%= countries[i + 2]?.id %>" class="fs-3 text-dark text-hover-primary fw-semibold w-375px">
                        <%= countries[i + 2].title %>
                    </a>
                    <div class="badge badge-light"><%= countries[i + 2].count %> PADS</div>
                </div>
            </div>
            <% } %>
            <% } %>
        </div>
    </div>
</div>

<script>
    function showCollections() {
        document.getElementById('collectionsData').style.display = 'block';
        document.getElementById('countriesData').style.display = 'none';

        document.getElementById('collectionsButton').classList.add('active');
        document.getElementById('countriesButton').classList.remove('active');
    }

    function showCountries() {
        document.getElementById('collectionsData').style.display = 'none';
        document.getElementById('countriesData').style.display = 'block';

        document.getElementById('collectionsButton').classList.remove('active');
        document.getElementById('countriesButton').classList.add('active');
    }

</script>