<!DOCTYPE html>
<html>
    <head>
        <%- include ('./partials/head.ejs') %>
    </head>
        
    <body class="home-body">
        <% include ('./partials/translations.ejs') %>
        <%- include ('./partials/menu-languages.ejs') %>
        <%- include ('./partials/home-search.ejs') %>

        <%- include ('./partials/home-content.ejs') %>
        <%- include ('./partials/footer.ejs') %>
    </body>
</html>
